{% extends 'home/home.html' %}
{% load static %}

{% block content %}
    <div class="py-5">
        <div class="container">
          <!-- Inputs (alternative) -->
          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">Logistics</small>
          </div>
{#        </div>#}
      </div>
    </div>
    <div class="section section-secondary">
        <div class="container">
            <p>
                Throughput, Routing and Information Technology are essential elements to an International network. At FGEDC we have streamlined our workflow to ensure that best performance throughout the shipping process. Performance starts by offering our customers a flexible collection methodology that consist of FGEDC LTL Pickup and Delivery services or, if our customers prefer, customer managed Pickup and Delivery. Our PDS system manages the entire process so we can provide tracking and confirmation that your freight was received by our hub.
                Of course the receipt of your freight is just the beginning, by providing real-time feedback on your freight throughout entire process you can focus on what matters the most; increased sales. Our PDS Dashboard and Management reports provide immediate feedback so you can service and target your customers with pinpoint precision. If you want to take a deeper dive into data we provide the ability to export your data to Excel for a more detailed analysis
            </p>
        </div>
        <div class="container">
            <h3>Our Routing</h3>
            <p class="description">
                The entire process begins with an effective routing methodology which is customized around your company’s expectations. From pickup to delivery FGEDC understands that in order to increase sales you must have a variety of solutions that guarantee delivery in hours and days, not weeks. By controlling our lift and streamlining the clearance process we ensure that your freight is injected to our delivery network within hours.
            </p>
        </div>
        <div class="container">
            <h3>
                Customs Compliance
            </h3>
            <p class="description">
                The development of our Parcel Delivery System (PDS) was built from the ground up with the primary focus of International Clearance. With year over 25+ years of experience in the Mail and International shipping industry FGEDC has built a network that streamlines the clearance process. By having a complete understanding of the international regulatory requirements FGEDC can assist you with understanding which products will and won’t meet regulatory approval. By understanding the customs compliance requirements we allow you to focus on sales while we focus on timely clearance and delivery.
            </p>
        </div>
        <div class="container">
            <h3>Returns Management</h3>
            <p class="description">
                No matter how robust the delivery network you will undoubtedly have customers who have a need to return merchandize. Because FGEDC is focused on providing the best in class service we tailor a returns solution that meets your company’s requirements.
            </p>
        </div>
        <div class="container">
            <h3>Information Technology</h3>
            <p class="description">
                By designing a system that controls every aspect of shipping FGEDC has the ability to control Routing, Clearance, and Returns Management. PDS provides Fleet Global Delivery with the tools to streamline routing, clearance, and manage returns. By combining experienced personnel with a customized platform enables FGEDC to provide our customers with the best possible global solution.
            </p>
        </div>

    </div>

{% endblock content %}