{% extends 'home/home.html' %}
{% load static %}

{% block content %}
{#    <div class="section">#}
    <div class="py-5">
        <div class="container">
          <!-- Inputs (alternative) -->
          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">Mail Services</small>
          </div>
{#        </div>#}
      </div>
    </div>
    <div class="section section-secondary">
        <div class="container">
            <p>The key to a performance driven mail service is routing. FGEDC takes the time to review your target market and put together a customized routing solutions that combines all levels of service. With access to over 200 target countries and a customized delivery system, FGEDC is the ideal logistics partner.</p>
        </div>
        <div class="container">
            <h3>The FGEDC Difference
            </h3>
            <ul>
                <li><p>Customized pickups that are centered around our customers schedule</p></li>
                <li><p>Quick and efficient sorting and processing at our secure TSA complaint facilities </p></li>
                <li><p>Same day induction into our domestic network</p></li>
                <li><p>Same day processing and export to country of destination for our international network </p></li>
                <li><p>Address Correction Service Visibly deficient addresses are inspected, corrected, on-forwarded, and a copy is faxed or mailed back to you at no additional cost. This helps ensure timely delivery, allows you to update your address files immediately and saves on labor and postage mailing to the same deficient address time and again</p></li>
                <li><p>Address Hygiene Service</p></li>
                <li><p>Customized Invoicing & Chargeback Reports Including immediate billing - so you can immediately chargeback your customer or department</p></li>
                <li><p>Automatic Upgrades to courier or first class for heavy-weighted items at little to no added cost </p></li>
                <li><p>On-Site Assistance for Heavy Volume mailers. AIM will place an employee on-site to help process mail, saving you labor cost and freeing up your associates to perform other tasks</p></li>
                <li><p>Secure On-Line invoicing</p></li>
                <li><p>Management Reports</p></li>

            </ul>
        </div>
    </div>


{% endblock content %}