{% extends 'home/home.html' %}
{% load static %}

{% block content %}
{#    <div class="section">#}
    <div class="py-5">
        <div class="container">
          <!-- Inputs (alternative) -->
          <div class="mb-3">
            <small class="text-uppercase font-weight-bold">Parcel Services</small>
          </div>
{#        </div>#}
      </div>
    </div>
    <div class="section section-secondary">
        <div class="container">
                    <p>There are four essential ingredients required to provide a best in class Parcel Service: Processing, Clearance, Delivery and Customer Service. FGEDC has perfected all four services to provide our customers with the best platform possible to go Global.
            Our technology provides a fully integrated platform that empowers our customers with the most dynamic and cost effective solution in the industry.
            By combining our E-Commerce, Processing Technology and Logistics FGEDC is able to provide a turn-key solution that scales to our customers’ requirements. In today’s e-commerce market its essential that your customers remain fully engaged from the time of placing the order to delivery. Our technology is platform independent providing your customers with the ability to view the latest tracking status no matter how they connect to the internet.
        </p>
        </div>
        <div class="container">
            <h3>The FGEDC difference</h3>
            <ul>
                <li><p> Customized pickups that are centered around our customers schedule </p></li>
                <li><p>Quick and efficient sorting and processing at our secure TSA complaint facilities </p></li>
                <li><p>Dynamic Routing</p></li>
                <li><p>Multiple Service options</p></li>
                <li><p>Alert Management System that provides instant updates on potential service interruptions</p></li>
                <li><p>Same day processing and export to country of destination for our international network</p></li>
                <li><p>Address Hygiene Service</p></li>
                <li><p>Customized Invoicing & Chargeback Reports Including immediate billing - so you can immediately chargeback your customer or department</p></li>
                <li><p>Secure On-Line invoicing</p></li>
                <li><p>Management Reports</p></li>
            </ul>
        </div>

    </div>

{% endblock content %}